<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TvApplication"
        android:label="家视IJK"
        tools:replace="android:label">
        <activity
            android:name=".ui.home.video.VideoIjkActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/FullTheme" />
    </application>
</manifest>